/* Figma Styles of your File */
:root {
  /* Colors */
  --mozare3net-nero: #ffffff;
  --mozare3net-linear-nero-black: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --mozare3net-sea-green: #329244;
  --mozare3net-chathams-blue: #1b478d;
  --mozare3net-nevada: #6b6e71;
  --mozare3net-rolling-stone: #797c7f;
  --mozare3net-sushi: #8cc63f;
  --mozare3net-ebony-clay: #1f242e;
  --mozare3net-pampas: #f8f6f4;
  --mozare3net-black: #000000;
  --mozare3net-nero-11percent: rgba(255, 255, 255, 0.11);
  --mozare3net-nero-76percent: rgba(255, 255, 255, 0.76);
  --mozare3net-eucalyptus: #23a455;
  --mozare3net-saltpan: #f8fbf7;
  --mozare3net-ebony: #0c0f26;
  --mozare3net-manatee: #939498;
  --mozare3net-linear-black-black: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  --mozare3net-nero-80percent: rgba(255, 255, 255, 0.8);
  --mozare3net-olive-drab: #54a029;
  --mozare3net-alabaster: #f9f9f9;
  --mozare3net-alabaster-15percent: rgba(249, 249, 249, 0.15);
  --mozare3net-celeste: #d3d5d2;
  --mozare3net-vida-loca: #468e1d;
  --mozare3net-gallery-90percent: rgba(238, 238, 238, 0.9);
  --mozare3net-nero-73percent: rgba(255, 255, 255, 0.73);
  --mozare3net-san-marino: #4054b2;
  --mozare3net-cyan-aqua: #fffefe;
  --agrimo-demopbminfotechcom-nero: #ffffff;
  --agrimo-demopbminfotechcom-hippie-green: #5b8c51;
  --agrimo-demopbminfotechcom-lunar-green: #404a3d;
  --agrimo-demopbminfotechcom-confetti: #eddd5e;
  --agrimo-demopbminfotechcom-nero: transparent;
  --agrimo-demopbminfotechcom-black: #000000;
  --agrimo-demopbminfotechcom-lunar-green-10percent: rgba(64, 74, 61, 0.1);

  /* Fonts */
  --mozare3net-inter-bold-20-upper-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-20-upper-font-size: 20px;
  --mozare3net-inter-bold-20-upper-line-height: 18px;
  --mozare3net-inter-bold-20-upper-font-weight: 700;
  --mozare3net-inter-bold-20-upper-font-style: normal;
  --mozare3net-inter-bold-31-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-31-font-size: 31px;
  --mozare3net-inter-bold-31-line-height: 33.66px;
  --mozare3net-inter-bold-31-font-weight: 700;
  --mozare3net-inter-bold-31-font-style: normal;
  --mozare3net-inter-bold-16-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-16-font-size: 16px;
  --mozare3net-inter-bold-16-line-height: 26.99px;
  --mozare3net-inter-bold-16-font-weight: 700;
  --mozare3net-inter-bold-16-font-style: normal;
  --mozare3net-inter-medium-19-font-family: Inter-Medium, sans-serif;
  --mozare3net-inter-medium-19-font-size: 19px;
  --mozare3net-inter-medium-19-line-height: 26.99px;
  --mozare3net-inter-medium-19-font-weight: 500;
  --mozare3net-inter-medium-19-font-style: normal;
  --mozare3net-inter-bold-311-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-311-font-size: 31.100000381469727px;
  --mozare3net-inter-bold-311-line-height: 40.44px;
  --mozare3net-inter-bold-311-font-weight: 700;
  --mozare3net-inter-bold-311-font-style: normal;
  --mozare3net-inter-bold-2916-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-2916-font-size: 29.15625px;
  --mozare3net-inter-bold-2916-line-height: 40.44px;
  --mozare3net-inter-bold-2916-font-weight: 700;
  --mozare3net-inter-bold-2916-font-style: normal;
  --mozare3net-inter-bold-24-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-24-font-size: 24px;
  --mozare3net-inter-bold-24-line-height: 24px;
  --mozare3net-inter-bold-24-font-weight: 700;
  --mozare3net-inter-bold-24-font-style: normal;
  --mozare3net-inter-bold-5-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-5-font-size: 5px;
  --mozare3net-inter-bold-5-line-height: 15px;
  --mozare3net-inter-bold-5-font-weight: 700;
  --mozare3net-inter-bold-5-font-style: normal;
  --mozare3net-inter-bold-16-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-16-font-size: 16px;
  --mozare3net-inter-bold-16-line-height: 24px;
  --mozare3net-inter-bold-16-font-weight: 700;
  --mozare3net-inter-bold-16-font-style: normal;
  --mozare3net-inter-bold-1772-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1772-font-size: 17.71875px;
  --mozare3net-inter-bold-1772-line-height: 27px;
  --mozare3net-inter-bold-1772-font-weight: 700;
  --mozare3net-inter-bold-1772-font-style: normal;
  --mozare3net-inter-bold-18-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-18-font-size: 18px;
  --mozare3net-inter-bold-18-line-height: 27px;
  --mozare3net-inter-bold-18-font-weight: 700;
  --mozare3net-inter-bold-18-font-style: normal;
  --mozare3net-inter-bold-175-upper-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-175-upper-font-size: 17.5px;
  --mozare3net-inter-bold-175-upper-line-height: 18px;
  --mozare3net-inter-bold-175-upper-font-weight: 700;
  --mozare3net-inter-bold-175-upper-font-style: normal;
  --mozare3net-inter-bold-2773-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-2773-font-size: 27.73046875px;
  --mozare3net-inter-bold-2773-line-height: 33.66px;
  --mozare3net-inter-bold-2773-font-weight: 700;
  --mozare3net-inter-bold-2773-font-style: normal;
  --mozare3net-inter-bold-1348-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1348-font-size: 13.4765625px;
  --mozare3net-inter-bold-1348-line-height: 21px;
  --mozare3net-inter-bold-1348-font-weight: 700;
  --mozare3net-inter-bold-1348-font-style: normal;
  --mozare3net-inter-bold-3088-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-3088-font-size: 30.87890625px;
  --mozare3net-inter-bold-3088-line-height: 33.66px;
  --mozare3net-inter-bold-3088-font-weight: 700;
  --mozare3net-inter-bold-3088-font-style: normal;
  --mozare3net-inter-bold-2831-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-2831-font-size: 28.30586051940918px;
  --mozare3net-inter-bold-2831-line-height: 40.44px;
  --mozare3net-inter-bold-2831-font-weight: 700;
  --mozare3net-inter-bold-2831-font-style: normal;
  --mozare3net-inter-bold-3001-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-3001-font-size: 30.006641387939453px;
  --mozare3net-inter-bold-3001-line-height: 40.44px;
  --mozare3net-inter-bold-3001-font-weight: 700;
  --mozare3net-inter-bold-3001-font-style: normal;
  --mozare3net-inter-bold-578-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-578-font-size: 57.79999923706055px;
  --mozare3net-inter-bold-578-line-height: 57.78px;
  --mozare3net-inter-bold-578-font-weight: 700;
  --mozare3net-inter-bold-578-font-style: normal;
  --mozare3net-inter-bold-359-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-359-font-size: 35.89921951293945px;
  --mozare3net-inter-bold-359-line-height: 57.78px;
  --mozare3net-inter-bold-359-font-weight: 700;
  --mozare3net-inter-bold-359-font-style: normal;
  --mozare3net-inter-bold-289-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-289-font-size: 28.899999618530273px;
  --mozare3net-inter-bold-289-line-height: 57.78px;
  --mozare3net-inter-bold-289-font-weight: 700;
  --mozare3net-inter-bold-289-font-style: normal;
  --mozare3net-inter-bold-5588-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-5588-font-size: 55.880859375px;
  --mozare3net-inter-bold-5588-line-height: 57.78px;
  --mozare3net-inter-bold-5588-font-weight: 700;
  --mozare3net-inter-bold-5588-font-style: normal;
  --mozare3net-inter-bold-1609-upper-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1609-upper-font-size: 16.09375px;
  --mozare3net-inter-bold-1609-upper-line-height: 18px;
  --mozare3net-inter-bold-1609-upper-font-weight: 700;
  --mozare3net-inter-bold-1609-upper-font-style: normal;
  --mozare3net-inter-bold-2356-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-2356-font-size: 23.5625px;
  --mozare3net-inter-bold-2356-line-height: 31.56px;
  --mozare3net-inter-bold-2356-font-weight: 700;
  --mozare3net-inter-bold-2356-font-style: normal;
  --mozare3net-inter-bold-2407-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-2407-font-size: 24.0703125px;
  --mozare3net-inter-bold-2407-line-height: 31.56px;
  --mozare3net-inter-bold-2407-font-weight: 700;
  --mozare3net-inter-bold-2407-font-style: normal;
  --mozare3net-inter-bold-26-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-26-font-size: 26px;
  --mozare3net-inter-bold-26-line-height: 31.56px;
  --mozare3net-inter-bold-26-font-weight: 700;
  --mozare3net-inter-bold-26-font-style: normal;
  --mozare3net-inter-bold-2906-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-2906-font-size: 29.0625px;
  --mozare3net-inter-bold-2906-line-height: 33.66px;
  --mozare3net-inter-bold-2906-font-weight: 700;
  --mozare3net-inter-bold-2906-font-style: normal;
  --mozare3net-inter-bold-1395-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1395-font-size: 13.9453125px;
  --mozare3net-inter-bold-1395-line-height: 21px;
  --mozare3net-inter-bold-1395-font-weight: 700;
  --mozare3net-inter-bold-1395-font-style: normal;
  --mozare3net-inter-bold-1859-upper-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1859-upper-font-size: 18.59375px;
  --mozare3net-inter-bold-1859-upper-line-height: 18px;
  --mozare3net-inter-bold-1859-upper-font-weight: 700;
  --mozare3net-inter-bold-1859-upper-font-style: normal;
  --mozare3net-inter-bold-287-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-287-font-size: 28.69921875px;
  --mozare3net-inter-bold-287-line-height: 33.66px;
  --mozare3net-inter-bold-287-font-weight: 700;
  --mozare3net-inter-bold-287-font-style: normal;
  --mozare3net-inter-bold-1797-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1797-font-size: 17.96875px;
  --mozare3net-inter-bold-1797-line-height: 25.38px;
  --mozare3net-inter-bold-1797-font-weight: 700;
  --mozare3net-inter-bold-1797-font-style: normal;
  --mozare3net-inter-bold-1891-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1891-font-size: 18.90625px;
  --mozare3net-inter-bold-1891-line-height: 25.38px;
  --mozare3net-inter-bold-1891-font-weight: 700;
  --mozare3net-inter-bold-1891-font-style: normal;
  --mozare3net-inter-bold-1906-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1906-font-size: 19.0625px;
  --mozare3net-inter-bold-1906-line-height: 25.38px;
  --mozare3net-inter-bold-1906-font-weight: 700;
  --mozare3net-inter-bold-1906-font-style: normal;
  --mozare3net-inter-bold-1383-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1383-font-size: 13.828125px;
  --mozare3net-inter-bold-1383-line-height: 21px;
  --mozare3net-inter-bold-1383-font-weight: 700;
  --mozare3net-inter-bold-1383-font-style: normal;
  --mozare3net-inter-bold-1813-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1813-font-size: 18.125px;
  --mozare3net-inter-bold-1813-line-height: 20px;
  --mozare3net-inter-bold-1813-font-weight: 700;
  --mozare3net-inter-bold-1813-font-style: normal;
  --mozare3net-inter-bold-1891-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1891-font-size: 18.90625px;
  --mozare3net-inter-bold-1891-line-height: 20px;
  --mozare3net-inter-bold-1891-font-weight: 700;
  --mozare3net-inter-bold-1891-font-style: normal;
  --mozare3net-inter-bold-1953-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1953-font-size: 19.53125px;
  --mozare3net-inter-bold-1953-line-height: 20px;
  --mozare3net-inter-bold-1953-font-weight: 700;
  --mozare3net-inter-bold-1953-font-style: normal;
  --mozare3net-inter-bold-1719-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1719-font-size: 17.1875px;
  --mozare3net-inter-bold-1719-line-height: 20px;
  --mozare3net-inter-bold-1719-font-weight: 700;
  --mozare3net-inter-bold-1719-font-style: normal;
  --mozare3net-inter-bold-2288-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-2288-font-size: 22.875px;
  --mozare3net-inter-bold-2288-line-height: 24px;
  --mozare3net-inter-bold-2288-font-weight: 700;
  --mozare3net-inter-bold-2288-font-style: normal;
  --mozare3net-inter-bold-225-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-225-font-size: 22.5px;
  --mozare3net-inter-bold-225-line-height: 24px;
  --mozare3net-inter-bold-225-font-weight: 700;
  --mozare3net-inter-bold-225-font-style: normal;
  --mozare3net-inter-bold-2306-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-2306-font-size: 23.0625px;
  --mozare3net-inter-bold-2306-line-height: 24px;
  --mozare3net-inter-bold-2306-font-weight: 700;
  --mozare3net-inter-bold-2306-font-style: normal;
  --mozare3net-inter-bold-1538-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1538-font-size: 15.375px;
  --mozare3net-inter-bold-1538-line-height: 24px;
  --mozare3net-inter-bold-1538-font-weight: 700;
  --mozare3net-inter-bold-1538-font-style: normal;
  --mozare3net-inter-bold-1702-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1702-font-size: 17.015625px;
  --mozare3net-inter-bold-1702-line-height: 27px;
  --mozare3net-inter-bold-1702-font-weight: 700;
  --mozare3net-inter-bold-1702-font-style: normal;
  --mozare3net-inter-bold-173-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-173-font-size: 17.296875px;
  --mozare3net-inter-bold-173-line-height: 27px;
  --mozare3net-inter-bold-173-font-weight: 700;
  --mozare3net-inter-bold-173-font-style: normal;
  --mozare3net-inter-bold-1786-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1786-font-size: 17.859375px;
  --mozare3net-inter-bold-1786-line-height: 27px;
  --mozare3net-inter-bold-1786-font-weight: 700;
  --mozare3net-inter-bold-1786-font-style: normal;
  --mozare3net-inter-bold-1589-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1589-font-size: 15.890625px;
  --mozare3net-inter-bold-1589-line-height: 27px;
  --mozare3net-inter-bold-1589-font-weight: 700;
  --mozare3net-inter-bold-1589-font-style: normal;
  --mozare3net-inter-bold-1617-font-family: Inter-Bold, sans-serif;
  --mozare3net-inter-bold-1617-font-size: 16.171875px;
  --mozare3net-inter-bold-1617-line-height: 27px;
  --mozare3net-inter-bold-1617-font-weight: 700;
  --mozare3net-inter-bold-1617-font-style: normal;
  --mozare3net-segoe-ui-regular-16-font-family: SegoeUi-Regular, sans-serif;
  --mozare3net-segoe-ui-regular-16-font-size: 16px;
  --mozare3net-segoe-ui-regular-16-line-height: 26.99px;
  --mozare3net-segoe-ui-regular-16-font-weight: 400;
  --mozare3net-segoe-ui-regular-16-font-style: normal;
  --mozare3net-segoe-ui-regular-20-font-family: SegoeUi-Regular, sans-serif;
  --mozare3net-segoe-ui-regular-20-font-size: 20px;
  --mozare3net-segoe-ui-regular-20-line-height: 26.99px;
  --mozare3net-segoe-ui-regular-20-font-weight: 400;
  --mozare3net-segoe-ui-regular-20-font-style: normal;
  --mozare3net-segoe-ui-regular-16-font-family: SegoeUi-Regular, sans-serif;
  --mozare3net-segoe-ui-regular-16-font-size: 16px;
  --mozare3net-segoe-ui-regular-16-line-height: 24px;
  --mozare3net-segoe-ui-regular-16-font-weight: 400;
  --mozare3net-segoe-ui-regular-16-font-style: normal;
  --mozare3net-segoe-ui-regular-15-font-family: SegoeUi-Regular, sans-serif;
  --mozare3net-segoe-ui-regular-15-font-size: 15px;
  --mozare3net-segoe-ui-regular-15-line-height: 18px;
  --mozare3net-segoe-ui-regular-15-font-weight: 400;
  --mozare3net-segoe-ui-regular-15-font-style: normal;
  --mozare3net-segoe-ui-regular-19-font-family: SegoeUi-Regular, sans-serif;
  --mozare3net-segoe-ui-regular-19-font-size: 19px;
  --mozare3net-segoe-ui-regular-19-line-height: 26.6px;
  --mozare3net-segoe-ui-regular-19-font-weight: 400;
  --mozare3net-segoe-ui-regular-19-font-style: normal;
  --mozare3net-segoe-ui-regular-13-upper-font-family: SegoeUi-Regular,
    sans-serif;
  --mozare3net-segoe-ui-regular-13-upper-font-size: 13px;
  --mozare3net-segoe-ui-regular-13-upper-line-height: 21px;
  --mozare3net-segoe-ui-regular-13-upper-font-weight: 400;
  --mozare3net-segoe-ui-regular-13-upper-font-style: normal;
  --mozare3net-segoe-ui-regular-14-font-family: SegoeUi-Regular, sans-serif;
  --mozare3net-segoe-ui-regular-14-font-size: 14px;
  --mozare3net-segoe-ui-regular-14-line-height: 21px;
  --mozare3net-segoe-ui-regular-14-font-weight: 400;
  --mozare3net-segoe-ui-regular-14-font-style: normal;
  --mozare3net-times-new-roman-bold-16-font-family: TimesNewRoman-Bold,
    sans-serif;
  --mozare3net-times-new-roman-bold-16-font-size: 16px;
  --mozare3net-times-new-roman-bold-16-line-height: 26.99px;
  --mozare3net-times-new-roman-bold-16-font-weight: 700;
  --mozare3net-times-new-roman-bold-16-font-style: normal;
  --mozare3net-times-new-roman-bold-15-font-family: TimesNewRoman-Bold,
    sans-serif;
  --mozare3net-times-new-roman-bold-15-font-size: 15px;
  --mozare3net-times-new-roman-bold-15-line-height: 21px;
  --mozare3net-times-new-roman-bold-15-font-weight: 700;
  --mozare3net-times-new-roman-bold-15-font-style: normal;
  --mozare3net-times-new-roman-regular-16-font-family: TimesNewRoman-Regular,
    sans-serif;
  --mozare3net-times-new-roman-regular-16-font-size: 16px;
  --mozare3net-times-new-roman-regular-16-line-height: 27.75px;
  --mozare3net-times-new-roman-regular-16-font-weight: 400;
  --mozare3net-times-new-roman-regular-16-font-style: normal;
  --mozare3net-times-new-roman-regular-15-font-family: TimesNewRoman-Regular,
    sans-serif;
  --mozare3net-times-new-roman-regular-15-font-size: 15px;
  --mozare3net-times-new-roman-regular-15-line-height: 27.75px;
  --mozare3net-times-new-roman-regular-15-font-weight: 400;
  --mozare3net-times-new-roman-regular-15-font-style: normal;
  --mozare3net-roboto-bold-15-font-family: Roboto-Bold, sans-serif;
  --mozare3net-roboto-bold-15-font-size: 15px;
  --mozare3net-roboto-bold-15-line-height: 20px;
  --mozare3net-roboto-bold-15-font-weight: 700;
  --mozare3net-roboto-bold-15-font-style: normal;
  --mozare3net-roboto-regular-16-font-family: Roboto-Regular, sans-serif;
  --mozare3net-roboto-regular-16-font-size: 16px;
  --mozare3net-roboto-regular-16-line-height: 27.75px;
  --mozare3net-roboto-regular-16-font-weight: 400;
  --mozare3net-roboto-regular-16-font-style: normal;
  --mozare3net-roboto-bold-16-font-family: Roboto-Bold, sans-serif;
  --mozare3net-roboto-bold-16-font-size: 16px;
  --mozare3net-roboto-bold-16-line-height: 26.99px;
  --mozare3net-roboto-bold-16-font-weight: 700;
  --mozare3net-roboto-bold-16-font-style: normal;
  --mozare3net-poppins-regular-16-font-family: Poppins-Regular, sans-serif;
  --mozare3net-poppins-regular-16-font-size: 16px;
  --mozare3net-poppins-regular-16-line-height: 27.75px;
  --mozare3net-poppins-regular-16-font-weight: 400;
  --mozare3net-poppins-regular-16-font-style: normal;
  --agrimo-demopbminfotechcom-signika-regular-14-title-font-family: Signika-Regular,
    sans-serif;
  --agrimo-demopbminfotechcom-signika-regular-14-title-font-size: 14px;
  --agrimo-demopbminfotechcom-signika-regular-14-title-line-height: 24px;
  --agrimo-demopbminfotechcom-signika-regular-14-title-font-weight: 400;
  --agrimo-demopbminfotechcom-signika-regular-14-title-font-style: normal;
  --agrimo-demopbminfotechcom-signika-medium-55-font-family: Signika-Medium,
    sans-serif;
  --agrimo-demopbminfotechcom-signika-medium-55-font-size: 55px;
  --agrimo-demopbminfotechcom-signika-medium-55-line-height: 60px;
  --agrimo-demopbminfotechcom-signika-medium-55-font-weight: 500;
  --agrimo-demopbminfotechcom-signika-medium-55-font-style: normal;
  --agrimo-demopbminfotechcom-signika-medium-26-title-font-family: Signika-Medium,
    sans-serif;
  --agrimo-demopbminfotechcom-signika-medium-26-title-font-size: 26px;
  --agrimo-demopbminfotechcom-signika-medium-26-title-line-height: 32px;
  --agrimo-demopbminfotechcom-signika-medium-26-title-font-weight: 500;
  --agrimo-demopbminfotechcom-signika-medium-26-title-font-style: normal;

  /* Effects */
}
